@import '../lib/variables';
@import '../lib/mixins';


.app-logo {
  animation: spin infinite 20s linear;
  height: $header-size;
  position: absolute;
  left: 0;
}

.app-header {
  background-color: #222;
  height: $header-size;
  color: white;
  position: relative;
  overflow: hidden;
  .signout {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    cursor: pointer;
  }
}

.app-title {
  font-size: 1.5em;
  line-height: $header-size;
  margin: 0;
}

.app-intro {
  font-size: large;
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

