@import ../lib/common
@import ../lib/mixins
@import ../lib/variables

body
  margin: 0
  padding: 0
  font-family: sans-serif

.wrapper
  margin: 0 4vw
  overflow: hidden
  @include mobile-l
    margin: 0 2vw
  @include tablet
    margin: 0 2vw
  @include desktop
    margin: 0 20px
  @include desktop-l
    max-width: $desktop
    margin: auto

.app
  text-align: center

.module
  overflow: hidden
  position: relative