@import ../lib/mixins
@import ../lib/variables

.login
  display: flex
  @include view-height
  .login-wrap
    width: 100%
    margin: 40vh auto 0
    transform: translateY(-50%)
  .login-form
    margin: auto

  .tip
    margin: 10px 0
    font-size: $font-size-desktop-m
    font-style: italic

  .bitbucket
    position: absolute
    left: 0
    top: 20px
