@import ../lib/mixins
@import ../lib/variables

.login-form
  max-width: 320px
  margin: auto
  border: 1px solid $dark
  //transform: translateY(-50%)
  font-size: $font-size-desktop-xxxl
  padding: 20px
  input, button
    width: 100%
    box-sizing: border-box
    border: 1px solid $light
    padding: 6px 5px
  button[type="submit"]
    background: $info
    border: 0
    font-size: $font-size-base-desktop
    text-transform: uppercase
    padding: 10px 0
    letter-spacing: 1px
    cursor: pointer
    &:active
      background: $info - 20%
    .svg-wrap
      margin-left: 20px
      position: absolute
      margin-top: -0.17em
    &[disabled]
      cursor: default
