@import ../lib/variables
@import ../lib/mixins

.user
  position: relative
  @include view-height

  .bitbucket
    position: absolute
    left: 0
    top: 20px

.welcome
  margin: 50px 0 0

.draggable
  position: relative
  display: inline-block
  .drag-me
    position: absolute
    bottom: 0
    right: 0
    width: 60px
    padding: 5px 10px
    background: $danger

