@import ../../lib/variables
@import ../../lib/mixins

.bitbucket
  position: absolute
  left: 0
  top: 20px
  .tip
    font-size: $font-size-desktop-s
    font-style: italic
    color: $semi-dark
  .icon
    margin-right: 10px
  .logo__text__fill
    fill: #253858
  .header__svg-logo__icon--path--3
    fill: #2684ff
  .header__svg-logo__icon--path--4
    fill: url(#logo-gradient)
