@import ../../lib/variables
@import ../../lib/mixins

@mixin quote
  content: '"'
  display: inline-block
  font-size: $font-size-desktop-xxl
  line-height: 1
  vertical-align: middle
  @content

.famous-quote
  max-width: 400px
  border: 1px solid $light
  padding: 20px
  position: relative
  .hint
    font-size: $font-size-desktop-m
    color: $semi-dark
    margin-right: 50px
    text-align: left
    position: relative
    top: -10px
    left: -10px
    background: $lighter
    padding: 5px
    @include desktop
  .fetch-quote
    position: absolute
    right: 10px
    top: 10px
  .quote
    position: relative
    font-size: $font-size-desktop-xl
    margin: 5px 0
  .cat
    font-size: $font-size-desktop-s
    color: $light
  .author
    font-size: $font-size-desktop-s
  &.has-quote
    .author:after
      content: '/'
      display: inline-block
      margin: 0 10px
    .quote
      &:after, &:before
        @include quote
  &.loading
    .quote
      font-size: $font-size-desktop-m